@font-face {
    font-family: 'Ghost Shadow';
    src: url('../fonts/Ghost_Shadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Ghost Shadow', Arial, Helvetica, sans-serif;
}