<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><<<<<<<<<<<<<<Meu Primeiro Programa em Flask>>>>>>>>>>>>>>>>>>>></title>
</head>
<body>
    <bgcolor="lightblue">
    <marquee behavior="scroll" direction="right" scrollamount="10">
        <font size="6" color="red">
            <b>Meu Primeiro Programa em Flask</b></font>
    </marquee>
    <marquee behavior="scroll" direction="left" scrollamount="10">
        <font size="6" color="red">
            <b>Meu Primeiro Programa em Flask</b></font>
    </marquee>
    <h1>Bem-vindo {{ nome if nome else "" }}</h1>
    Ir para segunda pagina <a href="/novaPagina.html">Nova Pagina</a> 
</body>
</html>